{% extends 'master.html' %}
{% load static %}
{% block content %}
  <body class="right-sidebar blog-list">
    <div id="page" class="hfeed site">
      <div class="top-bar top-bar-v1">
        <div class="col-full">
          <ul id="menu-top-bar-left" class="nav justify-content-center">
            <li class="menu-item animate-dropdown">
              <a
                title="TechMarket eCommerce - Always free delivery"

                >Solar Bazar &#8211; Always free delivery</a
              >
            </li>
            <li class="menu-item animate-dropdown">
              <a title="Quality Guarantee of products"
                >Quality Guarantee of products</a
              >
            </li>
            <li class="menu-item animate-dropdown">
              <a title="Fast returnings program"
                >Fast returnings program</a
              >
            </li>
            <li class="menu-item animate-dropdown">
              <a title="No additional fees"
                >No additional fees</a
              >
            </li>
          </ul>
          <!-- .nav -->
        </div>
        <!-- .col-full -->
      </div>
      <!-- .top-bar-v1 -->

      <!-- .header-v1 -->
      <!-- ============================================================= Header End ============================================================= -->
      <div id="content" class="site-content">
        <div class="col-full">
          <div class="row">
            <nav class="woocommerce-breadcrumb">
              <a href="{% url 'home' %}">Home</a>
              <span class="delimiter">
                <i class="fa fa-angle-right"></i>
              </span>
              Blog
            </nav>
            <!-- .woocommerce-breadcrumb -->
            <div id="primary" class="content-area">
              <main id="main" class="site-main">
                <article class="post format-image hentry">
                  <div class="media-attachment">
                    <div class="post-thumbnail">
                      <a href="blog-single.html">
                        <img
                          width="460"
                          height="244"
                          alt=""
                          class="wp-post-image"
                          src="{% static 'assets/img/solar/solar-1.jpg' %}"
                        />
                      </a>
                    </div>
                  </div>
                  <!-- .media-attachment -->
                  <div class="content-body">
                    <header class="entry-header">
                      <h1 class="entry-title">
                        <a rel="bookmark" href="blog-single.html"
                          >Tech Terms you should know before your adventure</a
                        >
                      </h1>
                      <div class="entry-meta">
                        <span class="cat-links">
                          <a rel="category tag" href="blog-single.html"
                            >Laptops</a
                          >
                        </span>
                        <!-- .cat-links -->
                        <span class="posted-on">
                          <a rel="bookmark" href="blog-single.html">
                            <time
                              datetime="2017-03-23T08:06:09+00:00"
                              class="entry-date published"
                              >March 23, 2017</time
                            >
                          </a>
                        </span>
                        <!-- .posted-on -->
                        <span class="author">
                          <a rel="author" title="Posts by Jane Smith" href="#"
                            >Jane Smith</a
                          >
                        </span>
                        <!-- .author -->
                      </div>
                      <!-- .entry-meta -->
                    </header>
                    <!-- .entry-header -->
                    <div class="entry-content">
                      <p>
                        A desktop computer is a computer that is designed to
                        stay in a single location. It may be a tower or an
                        all-in-one PC.
                      </p>
                    </div>
                    <!-- .entry-content -->
                    <div class="post-readmore">
                      <a class="btn btn-primary" href="{% url 'blog-single' %}"
                        >Read More</a
                      >
                    </div>
                    <!-- .post-readmore -->
                    <span class="comments-link">
                      <a href="blog-single#comments.html">Leave a comment</a>
                    </span>
                    <!-- .comments-link -->
                  </div>
                  <!-- .content-body -->
                </article>
                <!-- .post -->
                <article class="post format-image hentry">
                  <div class="media-attachment">
                    <div class="post-thumbnail">
                      <a href="blog-single.html">
                        <img
                          width="460"
                          height="244"
                          alt=""
                          class="wp-post-image"
                          src="{% static 'assets/img/solar/solar-2.jpg' %}"
                        />
                      </a>
                    </div>
                  </div>
                  <!-- .media-attachment -->
                  <div class="content-body">
                    <header class="entry-header">
                      <h1 class="entry-title">
                        <a rel="bookmark" href="blog-single.html"
                          >How to build your first 4k ready Desktop PC</a
                        >
                      </h1>
                      <div class="entry-meta">
                        <span class="cat-links">
                          <a rel="category tag" href="blog-single.html"
                            >Laptops</a
                          >
                        </span>
                        <!-- .cat-links -->
                        <span class="posted-on">
                          <a rel="bookmark" href="blog-single.html">
                            <time
                              datetime="2017-03-23T08:06:09+00:00"
                              class="entry-date published"
                              >March 23, 2017</time
                            >
                          </a>
                        </span>
                        <!-- .posted-on -->
                        <span class="author">
                          <a rel="author" title="Posts by Jane Smith" href="#"
                            >Jane Smith</a
                          >
                        </span>
                        <!-- .author -->
                      </div>
                      <!-- .entry-meta -->
                    </header>
                    <!-- .entry-header -->
                    <div class="entry-content">
                      <p>
                        A desktop computer is a computer that is designed to
                        stay in a single location. It may be a tower or an
                        all-in-one PC.
                      </p>
                    </div>
                    <!-- .entry-content -->
                    <div class="post-readmore">
                      <a class="btn btn-primary" href="blog-single.html"
                        >Read More</a
                      >
                    </div>
                    <!-- .post-readmore -->
                    <span class="comments-link">
                      <a href="blog-single#comments.html">Leave a comment</a>
                    </span>
                    <!-- .comments-link -->
                  </div>
                  <!-- .content-body -->
                </article>
                <!-- .post -->
                <article class="post format-image hentry">
                  <div class="media-attachment">
                    <div class="post-thumbnail">
                      <a href="blog-single.html">
                        <img
                          width="460"
                          height="244"
                          alt=""
                          class="wp-post-image"
                          src="{% static 'assets/img/solar/solar-3.jpg' %}"
                        />
                      </a>
                    </div>
                  </div>
                  <!-- .media-attachment -->
                  <div class="content-body">
                    <header class="entry-header">
                      <h1 class="entry-title">
                        <a rel="bookmark" href="blog-single.html"
                          >Top 10 Best Graphical Games for testing your
                          Hardware</a
                        >
                      </h1>
                      <div class="entry-meta">
                        <span class="cat-links">
                          <a rel="category tag" href="blog-single.html"
                            >Laptops</a
                          >
                        </span>
                        <!-- .cat-links -->
                        <span class="posted-on">
                          <a rel="bookmark" href="blog-single.html">
                            <time
                              datetime="2017-03-23T08:06:09+00:00"
                              class="entry-date published"
                              >March 23, 2017</time
                            >
                          </a>
                        </span>
                        <!-- .posted-on -->
                        <span class="author">
                          <a rel="author" title="Posts by Jane Smith" href="#"
                            >Jane Smith</a
                          >
                        </span>
                        <!-- .author -->
                      </div>
                      <!-- .entry-meta -->
                    </header>
                    <!-- .entry-header -->
                    <div class="entry-content">
                      <p>
                        A desktop computer is a computer that is designed to
                        stay in a single location. It may be a tower or an
                        all-in-one PC.
                      </p>
                    </div>
                    <!-- .entry-content -->
                    <div class="post-readmore">
                      <a class="btn btn-primary" href="blog-single.html"
                        >Read More</a
                      >
                    </div>
                    <!-- .post-readmore -->
                    <span class="comments-link">
                      <a href="blog-single#comments.html">Leave a comment</a>
                    </span>
                    <!-- .comments-link -->
                  </div>
                  <!-- .content-body -->
                </article>
                <!-- .post -->
                <article class="post format-image hentry">
                  <div class="media-attachment">
                    <div class="post-thumbnail">
                      <a href="blog-single.html">
                        <img
                          width="460"
                          height="244"
                          alt=""
                          class="wp-post-image"
                          src="{% static 'assets/img/solar/solar-4.jpg' %}"
                        />
                      </a>
                    </div>
                  </div>
                  <!-- .media-attachment -->
                  <div class="content-body">
                    <header class="entry-header">
                      <h1 class="entry-title">
                        <a rel="bookmark" href="blog-single.html"
                          >5 Tips to how find a place for your Wide screen
                          Monitor</a
                        >
                      </h1>
                      <div class="entry-meta">
                        <span class="cat-links">
                          <a rel="category tag" href="blog-single.html"
                            >Laptops</a
                          >
                        </span>
                        <!-- .cat-links -->
                        <span class="posted-on">
                          <a rel="bookmark" href="blog-single.html">
                            <time
                              datetime="2017-03-23T08:06:09+00:00"
                              class="entry-date published"
                              >March 23, 2017</time
                            >
                          </a>
                        </span>
                        <!-- .posted-on -->
                        <span class="author">
                          <a rel="author" title="Posts by Jane Smith" href="#"
                            >Jane Smith</a
                          >
                        </span>
                        <!-- .author -->
                      </div>
                      <!-- .entry-meta -->
                    </header>
                    <!-- .entry-header -->
                    <div class="entry-content">
                      <p>
                        A desktop computer is a computer that is designed to
                        stay in a single location. It may be a tower or an
                        all-in-one PC.
                      </p>
                    </div>
                    <!-- .entry-content -->
                    <div class="post-readmore">
                      <a class="btn btn-primary" href="blog-single.html"
                        >Read More</a
                      >
                    </div>
                    <!-- .post-readmore -->
                    <span class="comments-link">
                      <a href="blog-single#comments.html">Leave a comment</a>
                    </span>
                    <!-- .comments-link -->
                  </div>
                  <!-- .content-body -->
                </article>
                <!-- .post -->
                <article class="post format-image hentry">
                  <div class="media-attachment">
                    <div class="post-thumbnail">
                      <a href="blog-single.html">
                        <img
                          width="460"
                          height="244"
                          alt=""
                          class="wp-post-image"
                          src="{% static 'assets/img/solar/solar-4.jpg' %}"
                        />
                      </a>
                    </div>
                  </div>
                  <!-- .media-attachment -->
                  <div class="content-body">
                    <header class="entry-header">
                      <h1 class="entry-title">
                        <a rel="bookmark" href="blog-single.html"
                          >Why you should choose dedicated Desktop PC
                          Computer</a
                        >
                      </h1>
                      <div class="entry-meta">
                        <span class="cat-links">
                          <a rel="category tag" href="blog-single.html"
                            >Laptops</a
                          >
                        </span>
                        <!-- .cat-links -->
                        <span class="posted-on">
                          <a rel="bookmark" href="blog-single.html">
                            <time
                              datetime="2017-03-23T08:06:09+00:00"
                              class="entry-date published"
                              >March 23, 2017</time
                            >
                          </a>
                        </span>
                        <!-- .posted-on -->
                        <span class="author">
                          <a rel="author" title="Posts by Jane Smith" href="#"
                            >Jane Smith</a
                          >
                        </span>
                        <!-- .author -->
                      </div>
                      <!-- .entry-meta -->
                    </header>
                    <!-- .entry-header -->
                    <div class="entry-content">
                      <p>
                        A desktop computer is a computer that is designed to
                        stay in a single location. It may be a tower or an
                        all-in-one PC.
                      </p>
                    </div>
                    <!-- .entry-content -->
                    <div class="post-readmore">
                      <a class="btn btn-primary" href="blog-single.html"
                        >Read More</a
                      >
                    </div>
                    <!-- .post-readmore -->
                    <span class="comments-link">
                      <a href="blog-single#comments.html">Leave a comment</a>
                    </span>
                    <!-- .comments-link -->
                  </div>
                  <!-- .content-body -->
                </article>
                <!-- .post -->
                <article class="post format-image hentry">
                  <div class="media-attachment">
                    <div class="post-thumbnail">
                      <a href="blog-single.html">
                        <img
                          width="460"
                          height="244"
                          alt=""
                          class="wp-post-image"
                          src="{% static 'assets/img/solar/solar-5.jpg' %}"
                        />
                      </a>
                    </div>
                  </div>
                  <!-- .media-attachment -->
                  <div class="content-body">
                    <header class="entry-header">
                      <h1 class="entry-title">
                        <a rel="bookmark" href="blog-single.html"
                          >Most comfortable Gaming Seats for Playing Station</a
                        >
                      </h1>
                      <div class="entry-meta">
                        <span class="cat-links">
                          <a rel="category tag" href="blog-single.html"
                            >Laptops</a
                          >
                        </span>
                        <!-- .cat-links -->
                        <span class="posted-on">
                          <a rel="bookmark" href="blog-single.html">
                            <time
                              datetime="2017-03-23T08:06:09+00:00"
                              class="entry-date published"
                              >March 23, 2017</time
                            >
                          </a>
                        </span>
                        <!-- .posted-on -->
                        <span class="author">
                          <a rel="author" title="Posts by Jane Smith" href="#"
                            >Jane Smith</a
                          >
                        </span>
                        <!-- .author -->
                      </div>
                      <!-- .entry-meta -->
                    </header>
                    <!-- .entry-header -->
                    <div class="entry-content">
                      <p>
                        A desktop computer is a computer that is designed to
                        stay in a single location. It may be a tower or an
                        all-in-one PC.
                      </p>
                    </div>
                    <!-- .entry-content -->
                    <div class="post-readmore">
                      <a class="btn btn-primary" href="blog-single.html"
                        >Read More</a
                      >
                    </div>
                    <!-- .post-readmore -->
                    <span class="comments-link">
                      <a href="blog-single#comments.html">Leave a comment</a>
                    </span>
                    <!-- .comments-link -->
                  </div>
                  <!-- .content-body -->
                </article>

                <nav class="navigation pagination" id="post-navigation">
                  <span class="screen-reader-text">Posts navigation</span>
                  <div class="nav-links">
                    <ul class="page-numbers">
                      <li><a href="#" class="page-numbers current">1</a></li>
                      <li>
                        <span class="page-numbers">2</span>
                      </li>
                      <li><a href="#" class="next page-numbers">Next</a></li>
                    </ul>
                    <!-- .page-numbers -->
                  </div>
                  <!-- .nav-links -->
                </nav>
                <!-- .navigation -->
              </main>
              <!-- #main -->
            </div>
            <!-- #primary -->
            <div
              id="secondary"
              class="sidebar-blog widget-area"
              role="complementary"
            >
              <div class="widget widget_search" id="search-2">
                <form action="#" class="search-form" method="get" role="search">
                  <label>
                    <span class="screen-reader-text">Search for:</span>
                    <input
                      type="search"
                      name="s"
                      value=""
                      placeholder="Search …"
                      class="search-field"
                    />
                  </label>
                  <input type="submit" value="Search" class="search-submit" />
                </form>
                <!-- .search-form -->
              </div>
              <!-- .widget_search -->
              <div class="widget widget_text" id="text-2">
                <span class="gamma widget-title">About</span>
                <div class="textwidget">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    tincidunt, erat in malesuada aliquam, est erat faucibus
                    purus, eget viverra nulla sem vitae neque. Quisque id
                    sodales libero.
                  </p>
                </div>
                <!-- .textwidget -->
              </div>
              <!-- .widget_text -->
              <div class="widget widget_categories" id="categories-2">
                <span class="gamma widget-title">Categories</span>
                <ul>
                  <li class="cat-item cat-item-53">
                    <a href="product-category.html">Mono Plate</a>
                  </li>
                  <li class="cat-item cat-item-101">
                    <a href="product-category.html">Poly Plate</a>
                  </li>
                  <li class="cat-item cat-item-51">
                    <a href="product-category.html">Exit Light</a>
                  </li>
                  <li class="cat-item cat-item-96">
                    <a href="product-category.html">Emergency Light</a>
                  </li>
                  <li class="cat-item cat-item-52">
                    <a href="product-category.html">Garden Light</a>
                  </li>
                  <li class="cat-item cat-item-93">
                    <a href="product-category.html">Street Light</a>
                  </li>
                  <li class="cat-item cat-item-88">
                    <a href="product-category.html">Portable Double</a>
                  </li>
                  <li class="cat-item cat-item-54">
                    <a href="product-category.html">Portable Triple</a>
                  </li>
                  <li class="cat-item cat-item-89">
                    <a href="product-category.html">Portable Quadruple</a>
                  </li>
                </ul>
              </div>
              <!-- .widget_categories -->
              <div class="widget techmarket_posts_carousel_widget">
                <section
                  class="section-posts-carousel"
                  id="sidebar-posts-carousel"
                >
                  <header class="section-header">
                    <h2 class="section-title">Recent Posts</h2>
                    <div class="custom-slick-nav"></div>
                    <!-- .custom-slick-nav -->
                  </header>
                  <!-- .post-items -->
                  <div
                    class="post-item-carousel"
                    data-ride="tm-slick-carousel"
                    data-wrap=".posts"
                    data-slick='{"slidesToShow":1,"slidesToScroll":1,"dots":false,"arrows":true,"prevArrow":"&lt;a href=\"#\"&gt;&lt;i class=\"tm tm-arrow-left\"&gt;&lt;\/i&gt;&lt;\/a&gt;","nextArrow":"&lt;a href=\"#\"&gt;&lt;i class=\"tm tm-arrow-right\"&gt;&lt;\/i&gt;&lt;\/a&gt;","appendArrows":"#sidebar-posts-carousel .custom-slick-nav"}'
                  >
                    <div class="posts">
                      <div class="post-item">
                        <a href="blog-single.html" class="post-thumbnail">
                          <div class="post-thumbnail">
                            <img
                              width="270"
                              height="270"
                              alt=""
                              class="attachment-techmarket-blog-carousel wp-post-image"
                              src="{% static 'assets/img/solar/solar-1.jpg' %}"
                            />
                          </div>
                        </a>
                        <!-- .post-thumbnail -->
                        <div class="post-content">
                          <a
                            href="blog-single.html"
                            class="post-name"
                            tabindex="-1"
                            >Why you should choose dedicated Desktop PC
                            Computer</a
                          >
                          <span class="comments-link">
                            <a href="#">Leave a comment</a>
                          </span>
                        </div>
                        <!-- .post-content -->
                      </div>
                      <!-- .post-items -->
                      <div class="post-item">
                        <a href="blog-single.html" class="post-thumbnail">
                          <div class="post-thumbnail">
                            <img
                              width="270"
                              height="270"
                              alt=""
                              class="attachment-techmarket-blog-carousel wp-post-image"
                              src="{% static 'assets/img/solar/solar-9.jpg' %}"
                            />
                          </div>
                        </a>
                        <!-- .post-thumbnail -->
                        <div class="post-content">
                          <a
                            href="blog-single.html"
                            class="post-name"
                            tabindex="-1"
                            >Tech Terms you should know before your adventure</a
                          >
                          <span class="comments-link">
                            <a href="#">Leave a comment</a>
                          </span>
                        </div>
                        <!-- .post-content -->
                      </div>
                      <!-- .post-items -->
                      <div class="post-item">
                        <a href="blog-single.html" class="post-thumbnail">
                          <div class="post-thumbnail">
                            <img
                              width="270"
                              height="270"
                              alt=""
                              class="attachment-techmarket-blog-carousel wp-post-image"
                              src="{% static 'assets/img/solar/solar-8.jpg' %}"
                            />
                          </div>
                        </a>
                        <!-- .post-thumbnail -->
                        <div class="post-content">
                          <a
                            href="blog-single.html"
                            class="post-name"
                            tabindex="-1"
                            >How to build your first 4k ready Desktop PC</a
                          >
                          <span class="comments-link">
                            <a href="#">Leave a comment</a>
                          </span>
                        </div>
                        <!-- .post-content -->
                      </div>
                      <!-- .post-items -->
                      <div class="post-item">
                        <a href="blog-single.html" class="post-thumbnail">
                          <div class="post-thumbnail">
                            <img
                              width="270"
                              height="270"
                              alt=""
                              class="attachment-techmarket-blog-carousel wp-post-image"
                              src="{% static 'assets/img/solar/solar-6.jpg' %}"
                            />
                          </div>
                        </a>
                        <!-- .post-thumbnail -->
                        <div class="post-content">
                          <a
                            href="blog-single.html"
                            class="post-name"
                            tabindex="-1"
                            >Top 10 Best Graphical Games for testing your
                            Hardware</a
                          >
                          <span class="comments-link">
                            <a href="#">Leave a comment</a>
                          </span>
                        </div>
                        <!-- .post-content -->
                      </div>
                      <!-- .post-items -->
                    </div>
                    <!-- .posts-->
                  </div>
                  <!-- .post-item-carousel -->
                </section>
                <!-- .section-posts-carousel -->
              </div>
              <!-- .techmarket_posts_carousel_widget -->
              <div class="widget widget_tag_cloud">
                <span class="gamma widget-title">Tags Clouds</span>
                <div class="tagcloud">
                  <a style="font-size: 22pt" class="tag-cloud-link" href="#"
                    >Solar</a
                  >
                  <a style="font-size: 22pt" class="tag-cloud-link" href="#"
                    >Energy</a
                  >
                  <a style="font-size: 22pt" class="tag-cloud-link" href="#"
                    >Boost</a
                  >
                  <a style="font-size: 22pt" class="tag-cloud-link" href="#"
                    >Wind</a
                  >
                  <a style="font-size: 22pt" class="tag-cloud-link" href="#"
                    >Light</a
                  >
                  <a style="font-size: 8pt" class="tag-cloud-link" href="#"
                    >Electricity</a
                  >
                  <a style="font-size: 22pt" class="tag-cloud-link" href="#"
                    >theme</a
                  >
                  <a style="font-size: 8pt" class="tag-cloud-link" href="#"
                    >Power</a
                  >
                  <a style="font-size: 22pt" class="tag-cloud-link" href="#"
                    >Business</a
                  >
                  <a style="font-size: 22pt" class="tag-cloud-link" href="#"
                    >Ecommerce</a
                  >
                </div>
                <!-- .tagcloud -->
              </div>
              <!-- .widget_tag_cloud -->
            </div>
            <!-- .sidebar-blog -->
          </div>
          <!-- .row -->
        </div>
        <!-- .col-full -->
      </div>
      <!-- #content -->

      <!-- .site-footer -->
    </div>

  </body>
{% endblock %}
