           <ul
                                            class="woocommerce-mini-cart cart_list product_list_widget"
                                    >
                                        <li class="woocommerce-mini-cart-item mini_cart_item">
                                            <a
                                                    href="#"
                                                    class="remove"
                                                    aria-label="Remove this item"
                                                    data-product_id="65"
                                                    data-product_sku=""
                                            >×</a
                                            >
                                            <a href="single-product-fullwidth.html">
                                                <img
                                                        src="assets/images/products/mini-cart1.jpg"
                                                        class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image"
                                                        alt=""
                                                />XONE Wireless Controller&nbsp;
                                            </a>
                                            <span class="quantity"
                                            >1 ×
                            <span class="woocommerce-Price-amount amount">
                              <span class="woocommerce-Price-currencySymbol"
                              >tk</span
                              >6499</span
                            >
                          </span>
                                        </li>
                                        <li class="woocommerce-mini-cart-item mini_cart_item">
                                            <a
                                                    href="#"
                                                    class="remove"
                                                    aria-label="Remove this item"
                                                    data-product_id="27"
                                                    data-product_sku=""
                                            >×</a
                                            >
                                            <a href="single-product-fullwidth.html">
                                                <img
                                                        src="assets/images/products/mini-cart2.jpg"
                                                        class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image"
                                                        alt=""
                                                />Gear Virtual Reality 3D with Bluetooth
                                                Glasses&nbsp;
                                            </a>
                                            <span class="quantity"
                                            >1 ×
                            <span class="woocommerce-Price-amount amount">
                              <span class="woocommerce-Price-currencySymbol"
                              >tk</span
                              >7200</span
                            >
                          </span>
                                        </li>
                                    </ul>