{#{% extends 'master.html' %}#}
{% load static %}
{% block content %}
	{#	<link href="{% static 'vendor/css/app.min.css' %}" rel="stylesheet" type="text/css" id="app-default-stylesheet"/>#}

	{#{% extends 'master.html' %}#}

		<!-- Navigation-->
	<link
				rel="stylesheet"
				type="text/css"
				href="{% static 'assets/css/bootstrap.min.css' %}"
				media="all"
		/>
		<link
				rel="stylesheet"
				type="text/css"
				href="{% static 'assets/css/customer-profile.css' %}"
				media="all"
		/>
		<link
				rel="stylesheet"
				type="text/css"
				href="{% static 'assets/css/font-awesome.min.css' %}"
				media="all"
		/>
		<link
				rel="stylesheet"
				type="text/css"
				href="{% static 'assets/css/techmarket-font-awesome.css' %}"
				media="all"
		/>



		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

	<link rel="shortcut icon" href="{% static 'assets/img/fortunes_logo/solarbazarfavicon1.png' %}"/>
	<title>Solarbazarbd.com</title>
		<body>
  <div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase  d-lg-inline-block" href="/">Continue Shopping</a>
	      <div style="float: right">
        <a class="h4 mb-0 text-white text-uppercase  d-lg-inline-block" href="/orders/">TRACK ORDER</a>
        <a class="h4 mb-0 text-white text-uppercase  d-lg-inline-block" href="/profile/">PROFILE</a>
        <a class="h4 mb-0 text-white text-uppercase  d-lg-inline-block" href="/customer-logout/">LOGOUT</a>
	      </div>
        <!-- Form -->

      </div>
    </nav>
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 200px; background-image: url({% static 'assets/img/solar/solar.jpg' %}); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8" style="background: linear-gradient(
87deg
,#c40000d9 0, #eb202999 100%) !important;
"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10 pt-5">
            <h2 class=" text-white">Hello {{ orders.0.customer.name }}!</h2>
            <p class="text-white mt-0 mb-5">This is your profile page. You can see all your account information and update. Also you can track your orders from here</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">




	<link href="{% static 'vendor/css/app.min.css' %}" rel="stylesheet" type="text/css" id="app-default-stylesheet"/>

	<div class="container-fluid" style="width: 90%">
        <div class="content mt-2">

            <!-- Start Content-->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-4" style="min-height: inherit">
                        <div class="card shadow" style="min-height: 100% !important;">
                            <div class="card-body" style="height: 100%;">
                                <h4 class="header-title mb-3">Track Order</h4>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <h5 class="mt-0">Order ID: </h5>
                                            <p>#{{ order.id }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <h5 class="mt-0">Tracking ID: </h5>
                                            <p>{{ order.id }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="track-order-list">
                                    <ul class="list-unstyled">
	                                    {% if order.status == 'PENDING' %}
		                                    <li>
                                        <span class="active-dot dot"></span>
                                            <h5 class="mt-0 mb-1">Order Placed (pending for approval)</h5>
                                            <p class="text-muted">{{ order.created }}</p>
                                        </li>
		                                    <li>
                                            <h5 class="mt-0 mb-1">Accepted</h5>
                                            <p class="text-muted"></p>
                                        </li>
		                                    <li>
                                            <h5 class="mt-0 mb-1">On the way</h5>
                                            <p class="text-muted"></p>
                                        </li>
		                                    <li>
                                            <h5 class="mt-0 mb-1"> Delivered</h5>
                                            <p class="text-muted"></p>
                                        </li>

	                                    {% elif order.status == 'ACCEPTED' %}
		                                    <li class="completed">

                                            <h5 class="mt-0 mb-1">Order Placed</h5>
                                            <p class="text-muted">{{ order.created }}</p>
                                        </li>
		                                    <li>
                                        <span class="active-dot dot"></span>
                                            <h5 class="mt-0 mb-1">Accepted</h5>
                                            <p class="text-muted">{{ order.accepted_date }}</p>
                                        </li>
		                                    <li>
                                            <h5 class="mt-0 mb-1">On the way</h5>
                                            <p class="text-muted"></p>
                                        </li>
		                                    <li>
                                            <h5 class="mt-0 mb-1"> Delivered</h5>
                                            <p class="text-muted"></p>
                                        </li>
	                                    {% elif order.status == 'SHIPPING' %}
		                                    <li class="completed">
                                            <h5 class="mt-0 mb-1">Order Placed </h5>
                                            <p class="text-muted">{{ order.created }}</p>
                                        </li>
		                                    <li class="completed">
                                            <h5 class="mt-0 mb-1">Accepted</h5>
                                            <p class="text-muted">{{ order.accepted_date }}</p>
                                        </li>
		                                    <li>
                                         <span class="active-dot dot"></span>
                                            <h5 class="mt-0 mb-1">On the way</h5>
                                            <p class="text-muted">{{ order.shipping_start_date }}</p>
                                        </li>
		                                    <li>
                                            <h5 class="mt-0 mb-1"> Delivered</h5>
                                            <p class="text-muted"></p>
                                        </li>
	                                    {% elif order.status == 'DONE' %}
		                                    <li class="completed">
                                            <h5 class="mt-0 mb-1">Order Placed</h5>
                                            <p class="text-muted">{{ order.created }}</p>
                                        </li>
		                                    <li class="completed">
                                            <h5 class="mt-0 mb-1">Accepted</h5>
                                            <p class="text-muted">{{ order.accepted_date }}</p>
                                        </li>
		                                    <li class="completed">
                                            <h5 class="mt-0 mb-1">On the way</h5>
                                            <p class="text-muted">{{ order.shipping_start_date }}</p>
                                        </li>
		                                    <li class="completed">
                                        <span class="active-dot dot"></span>
                                            <h5 class="mt-0 mb-1"> Delivered</h5>
                                            <p class="text-muted">{{ order.completed_date }}</p>
                                        </li>
	                                    {% elif order.status == 'CANCELED' %}
		                                    <li>
                                            <h5 class="mt-0 mb-1">Order Placed (pending for approval)</h5>
                                            <p class="text-muted">{{ order.created }}</p>
                                        </li>
		                                    <li>
                                            <h5 class="mt-0 mb-1">Accepted</h5>
                                            <p class="text-muted"></p>
                                        </li>
		                                    <li>
                                            <h5 class="mt-0 mb-1">On the way</h5>
                                            <p class="text-muted"></p>
                                        </li>
		                                    <li>
                                            <h5 class="mt-0 mb-1"> Delivered</h5>
                                            <p class="text-muted"></p>
                                        </li>
		                                    <li>
		                                     <span class="active-dot dot"></span>
                                            <h5 class="mt-0 mb-1">Order Canceled</h5>
                                            <p class="text-muted">{{ order.updated }}</p>
                                        </li>

	                                    {% endif %}
                                    </ul>

                                    <div class="text-center mt-4">
	                                    <a href="{% url 'order_invoice' order.id %}" class="btn btn-primary"><i class="fa fa-file" aria-hidden="true"></i>&nbsp;&nbsp;Print Invoice</a>
																			{% if order.is_payment_successful == 0 %}
	                                      <a href="{% url 'create_payment' order.id %}" class="btn btn-success"><i class="fa fa-money-bill" aria-hidden="true"></i>&nbsp;&nbsp;Pay Now</a>
	                                    {% endif %}
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card shadow" style="min-height: 100%">
                            <div class="card-body">
                                <h4 class="header-title mb-3">Items from Order #{{ order.id }}</h4>

                                <div class="table-responsive">
                                    <table class="table table-bordered table-centered mb-0">
                                        <thead class="thead-light">
                                        <tr>
                                            <th>Product name</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
	                                        {% for i in order.order_items.all %}
		                                        <tr>
	                                            <th scope="row">{{ i.product.name }}</th>
	                                            <td>{{ i.quantity|floatformat:0 }}</td>
	                                            <td>{{ i.unit_price }}</td>
	                                            <td>{% widthratio i.unit_price 1 i.quantity %}</td>
                                            </tr>
	                                        {% endfor %}

	                                        <tr>
                                            <th scope="row" colspan="3" class="text-right">Sub Total :</th>
                                            <td>
                                                <div class="font-weight-bold">{{ order.sub_total|floatformat:2 }}</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="3" class="text-right">Discount :</th>
                                            <td>{{ order.total_discount|floatformat:2 }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="3" class="text-right">Delivery Charge :</th>
                                            <td>{{ order.delivery_charge }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="3" class="text-right">Estimated Tax :</th>
                                            <td>{{ order.total_tax }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="3" class="text-right">Total :</th>
                                            <td>
                                                <div class="font-weight-bold">{{ order.total_payable }}</div>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
	            <!-- end row -->

                <div class="row mb-5 mt-3">
                    <div class="col-lg-4">
                        <div class="card shadow" style="min-height: 230px">
                            <div class="card-body">
                                <h4 class="header-title mb-3">Delivery Information</h4>

                                <h5 class="font-family-primary font-weight-semibold">{{ order.customer.name }}</h5>

                                <p class="mb-2"><span class="font-weight-semibold mr-2">Address:</span>
	                                {{ order.customer.short_address }}</p>
                                <p class="mb-2"><span class="font-weight-semibold mr-2">Phone:</span>
	                                {{ order.customer.phone }}</p>
                                <p class="mb-0"><span class="font-weight-semibold mr-2">Email:</span> {{ order.customer.email }}
	                            <p class="mb-0"><span class="font-weight-semibold mr-2"></span></p>

                            </div>
                        </div>
                    </div> <!-- end col -->

                    <div class="col-lg-4">
                        <div class="card shadow" style="min-height: 230px">
                            <div class="card-body">
                                <h4 class="header-title mb-3">Billing Information</h4>

                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <p class="mb-2"><span class="font-weight-semibold mr-2">Payment Status: </span> {{ order.payment.payment_status }}
                                        <p class="mb-2"><span class="font-weight-semibold mr-2">Payment Method:</span>
	                                        {% if order.payment.payment_method == 'CASHON' %}
		                                        Cash
	                                        {% else %}
		                                        {{ order.payment.payment_method }}
	                                        {% endif %}
                                        </p>
                                        <p class="mb-2"><span class="font-weight-semibold mr-2">Transaction Identity:</span>
	                                        {{ order.payment.transaction_id }}</p>
                                        <p class="mb-2"><span class="font-weight-semibold mr-2">Updated Date:</span>
	                                        {{ order.payment.updated }}</p>
{#                                        <p class="mb-0"><span class="font-weight-semibold mr-2">CVV:</span> xxx</p>#}
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div> <!-- end col -->

                    <div class="col-lg-4">
                        <div class="card shadow" style="min-height: 230px">
                            <div class="card-body">
                                <h4 class="header-title mb-3">Delivery Info</h4>

                                <div class="text-center">
                                    <i class="fas fa-shipping-fast h2 text-muted"></i>
                                    <h5><b>
	                                    {% if order.ordered_by == 'ecommerce' %}
		                                    Tijarat Delivery System
	                                    {% else %}
		                                    Picked up from Tijarat store
	                                    {% endif %}
                                    </b></h5>
                                    <p class="mb-1"><span class="font-weight-semibold">Order ID :</span> #{{ order.id }}</p>
                                    <p class="mb-0"><span class="font-weight-semibold">Payment Method :
                                        </span>
	                                    {% if order.payment.payment_method == 'CASHON' %}
		                                    Cash
	                                    {% else %}
		                                    {{ order.payment.payment_method }}
	                                    {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div>
	            <!-- end row -->
            </div> <!-- container -->
        </div> <!-- content -->
	</div>



      </div>
    </div>
  </div>

</body>
{% endblock content %}