{% extends 'master.html' %}
{% load static %}
{% block content %}
	<body class="woocommerce-active left-sidebar">
	<div id="page" class="hfeed site">
		<!-- #content -->
		<div class="col-full">
			<section class="brands-carousel">
				<h2 class="sr-only">Brands Carousel</h2>
				<div
						class="col-full"
						data-ride="tm-slick-carousel"
						data-wrap=".brands"
						data-slick='{"slidesToShow":6,"slidesToScroll":1,"dots":false,"arrows":true,"responsive":[{"breakpoint":400,"settings":{"slidesToShow":1,"slidesToScroll":1}},{"breakpoint":800,"settings":{"slidesToShow":3,"slidesToScroll":3}},{"breakpoint":992,"settings":{"slidesToShow":3,"slidesToScroll":3}},{"breakpoint":1200,"settings":{"slidesToShow":4,"slidesToScroll":4}},{"breakpoint":1400,"settings":{"slidesToShow":5,"slidesToScroll":5}}]}'
				>
					<div class="brands">
						<div class="item">
							<a href="shop.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>apple</h4>
										</div>
										<!-- /.info -->
									</figcaption>
									<img
											width="145"
											height="50"
											class="img-responsive desaturate"
											alt="apple"
											src="{% static 'assets/images/brands/1.png' %}"
									/>
								</figure>
							</a>
						</div>
						<!-- .item -->
						<div class="item">
							<a href="shop.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>bosch</h4>
										</div>
										<!-- /.info -->
									</figcaption>
									<img
											width="145"
											height="50"
											class="img-responsive desaturate"
											alt="bosch"
											src="{% static 'assets/images/brands/2.png' %}"
									/>
								</figure>
							</a>
						</div>
						<!-- .item -->
						<div class="item">
							<a href="shop.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>cannon</h4>
										</div>
										<!-- /.info -->
									</figcaption>
									<img
											width="145"
											height="50"
											class="img-responsive desaturate"
											alt="cannon"
											src="{% static 'assets/images/brands/3.png' %}"
									/>
								</figure>
							</a>
						</div>
						<!-- .item -->
						<div class="item">
							<a href="shop.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>connect</h4>
										</div>
										<!-- /.info -->
									</figcaption>
									<img
											width="145"
											height="50"
											class="img-responsive desaturate"
											alt="connect"
											src="{% static 'assets/images/brands/4.png' %}"
									/>
								</figure>
							</a>
						</div>
						<!-- .item -->
						<div class="item">
							<a href="shop.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>galaxy</h4>
										</div>
										<!-- /.info -->
									</figcaption>
									<img
											width="145"
											height="50"
											class="img-responsive desaturate"
											alt="galaxy"
											src="{% static 'assets/images/brands/5.png' %}"
									/>
								</figure>
							</a>
						</div>
						<!-- .item -->
						<div class="item">
							<a href="shop.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>gopro</h4>
										</div>
										<!-- /.info -->
									</figcaption>
									<img
											width="145"
											height="50"
											class="img-responsive desaturate"
											alt="gopro"
											src="{% static 'assets/images/brands/6.png' %}"
									/>
								</figure>
							</a>
						</div>
						<!-- .item -->
						<div class="item">
							<a href="shop.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>handspot</h4>
										</div>
										<!-- /.info -->
									</figcaption>
									<img
											width="145"
											height="50"
											class="img-responsive desaturate"
											alt="handspot"
											src="{% static 'assets/images/brands/7.png' %}"
									/>
								</figure>
							</a>
						</div>
						<!-- .item -->
						<div class="item">
							<a href="shop.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>kinova</h4>
										</div>
										<!-- /.info -->
									</figcaption>
									<img
											width="145"
											height="50"
											class="img-responsive desaturate"
											alt="kinova"
											src="{% static 'assets/images/brands/8.png' %}"
									/>
								</figure>
							</a>
						</div>
						<!-- .item -->
						<div class="item">
							<a href="shop.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>nespresso</h4>
										</div>
										<!-- /.info -->
									</figcaption>
									<img
											width="145"
											height="50"
											class="img-responsive desaturate"
											alt="nespresso"
											src="{% static 'assets/images/brands/9.png' %}"
									/>
								</figure>
							</a>
						</div>
						<!-- .item -->
						<div class="item">
							<a href="shop.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>samsung</h4>
										</div>
										<!-- /.info -->
									</figcaption>
									<img
											width="145"
											height="50"
											class="img-responsive desaturate"
											alt="samsung"
											src="{% static 'assets/images/brands/10.png' %}"
									/>
								</figure>
							</a>
						</div>
						<!-- .item -->
						<div class="item">
							<a href="shop.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>speedway</h4>
										</div>
										<!-- /.info -->
									</figcaption>
									<img
											width="145"
											height="50"
											class="img-responsive desaturate"
											alt="speedway"
											src="{% static 'assets/images/brands/11.png' %}"
									/>
								</figure>
							</a>
						</div>
						<!-- .item -->
						<div class="item">
							<a href="shop.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>yoko</h4>
										</div>
										<!-- /.info -->
									</figcaption>
									<img
											width="145"
											height="50"
											class="img-responsive desaturate"
											alt="yoko"
											src="{% static 'assets/images/brands/12.png' %}"
									/>
								</figure>
							</a>
						</div>
						<!-- .item -->
					</div>
				</div>
				<!-- .col-full -->
			</section>
			<!-- .brands-carousel -->
		</div>
		<!-- .col-full -->
	</div>
	</body>
{% endblock %}