{% extends 'master.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
<style>
	.btn-light:hover {
		background-color: #f5363e !important;
		color: white !important;
	}

	.btn-light {
		font-size: 14px;
		background-color: #ffe8e9;
		color: black;
		width: 49%
	}

	.inner-panel .card {
		border: 0.001em solid #f5363e !important
	}
</style>

<body class="woocommerce-active left-sidebar">
	<div id="page" class="hfeed site">
		<!-- topbar home section start -->

		<!-- topbar home section end -->
		<!-- .top-bar-v1 -->
		<!-- .header-v1 -->
		<!-- ============================================================= Header End ============================================================= -->
		<!-- main content -->
		<div id="content" class="site-content" tabindex="-1">
			<div class="col-full">
				<div class="row">
					<div id="primary" class="content-area">
						<main id="main" class="site-main">
							<h2 class="text-center text-danger"></h2>
							<div class="jumbotron bg-danger">
								{% for b in static_files %}
								{% if b.title == 'single-category-top-banner' %}
								<div class="col-md-12">
{#									 <div class="ad_image" style="background: url({{ b.image1.url }}); height: 200px !important;width: auto">#}
										<div class="" style="height:unset !important">
											<img src="{{ b.image1.url }}" alt="">
										</div>
									</div>
									{% endif %}
									{% endfor %}
								</div>

								<div class="products" id="product">
									<!-- /.product-outer -->
									<!-- /.product-outer -->
								</div>
								<!-- stats pagination -->
								<div class="row">
									<div class="col-12">
{#										<ul class="pagination list-group list-group-horizontal mt-2" id="_pagination">#}

{#										</ul>#}
										<div class="content_detail__pagination cdp" actpage="1" id="_pagination">

										</div>
									</div>

{#									<div class="col-4"> </div>#}
								</div>
								<!-- ends pagination -->

								<!-- 



	{#						<div class="row">#}
	{#							{% for p in products %}#}
	{#								<div class="col-3 inner-panel text-center">#}
	{##}
	{#									<div class="card">#}
	{#										<a href="{% url 'single-product-fullwidth' p.id %}">#}
	{#											<img src="{{ p.product_images.all.0.image.url }}" class="card-img-top" alt="..." style="height: 200px !important; width: auto !important; margin: auto">#}
	{#										</a>#}
	{#										<div class="card-body">#}
	{#											<span class="text-center" style="color:  #f5363e">{{ p.discounted_price }}</span>#}
	{#											{% if p.discounted_price < p.price %}#}
	{#	                      <del>#}
	{#	                        <span class="amount" style="font-size: small">{{ p.price }}</span>#}
	{#	                      </del>#}
	{#											{% endif %}#}
	{#											<h5 class="woocommerce-loop-product__title" title="{{ p.name }}" style="font-size: 18px; font-weight: 400;">#}
	{#												{% if p.name|length > 22 %}#}
	{#													{{ p.name|slice:"19" }}...#}
	{#												{% else %}#}
	{#													{{ p.name }}#}
	{#												{% endif %}#}
	{#											</h5>#}
	{#											<div class="custom-btn cartable">#}
													{#                                        <a  name="{{ p.id }}" class="btn btn-light">Quick View</a>#}
													{#                                        <a href="#" class="btn btn-light">Add to Cart</a>#}
	{#												<p hidden#}
	{#												   class="product__image_src">{{ p.product_images.all.0.image.url }}</p>#}
	{#												<p hidden class="product__name">{{ p.id }}</p>#}
	{#												<p hidden class="product__title">{{ p.name }}</p>#}
	{#												<p hidden class="product__price">{{ p.discounted_price }}</p>#}
	{#												<a class="btn btn-light quick-btn" name="{{ p.id }}">#}
	{#													Quick View#}
	{#												</a>#}
	{#												<a class="btn btn-light" name="btn{{ p.id }}" data-action="ADD_TO_CART">#}
	{#													Add#}
	{#													to cart#}
	{#												</a>#}
	{#											</div>#}
	{#										</div>#}
	{#									</div>#}
	{#									.woocommerce-LoopProduct-link #}
	{##}
	{#									.hover-area #}
	{#								</div>#}
	{#							{% endfor %}#}
	{#						</div>#} -->






								<div class="jumbotron bg-danger mt-5">
									{% for b in static_files %}
									{% if b.title == 'single-category-bottom-banner' %}
									<div class="col-md-12">
										<div class="" style="height:unset !important">
											<img src="{{ b.image1.url }}" alt="">
										</div>
									</div>
									{% endif %}
									{% endfor %}
								</div>
						</main>
					</div>
					<!-- #primary -->
					<div id="secondary" class="widget-area shop-sidebar" role="complementary">
						<div class="widget woocommerce widget_product_categories techmarket_widget_product_categories"
							id="techmarket_product_categories_widget-2">

							<!-- sorting sidebar -->
							<div class="widget woocommerce widget_price_filter" id="woocommerce_price_filter-2">
								<form class="form-inline">
									<div class="form-group mx-sm-3">
										<label for="status-select" class="mr-2">Sort By</label>
										<select class="custom-select" id="sort_order">
											<option selected="" value="-updated">Lates</option>
											<option value="-views">Popular</option>
											<option value="price">Price Low</option>
											<option value="-price">Price High</option>
											<option value="stock_quantity">Stock Low</option>
											<option value="-stock_quantity">Stock High</option>
											<option value="name">Product Name</option>
										</select>
									</div>

									<!-- *******for price range slider******* -->


									<!-- <div class="form-group mx-sm-3 mt-4">
							<input id="min-amount" type="number" placeholder="Min price" name="min_price">
						</div>
						<div class="form-group mx-sm-3 mt-3">
							<input id="max-amount" type="number" placeholder="Max price" name="max_price">
						</div>
						<div id="slider-range" class="form-group mt-3 price_slider mt-3"></div>
						<button type="button" class="btn btn-primary mt-2 ml-3" onclick="getInputValue();">Filter</button> -->
								</form>

								<!-- product per page will move with pagination -->

								<!-- <div class="form-group mx-sm-3">
					<label for="status-select" class="mr-2">Product/Page</label>
					<select class="custom-select" id="items_per_page">
					<option value="20">20</option>
						<option selected="" value="30">30</option>
						<option value="40">40</option>
						<option value="50">50</option>
						<option value="75">75</option>
						<option value="100">100</option>
					</select>
				</div> -->

								<!-- <div class="form-group mx-sm-3">
					<label for="status-select" class="mr-2">Filter by price</label>
					<div class="price_slider_amount">
						<input id="amount" type="text" placeholder="Min price" data-min="6" value="33" name="min_price"
							style="display: none;">
						<div id="slider-range" class="price_slider"></div>
						<button class="button mt-2" type="submit">Filter</button>
					</div>
				</div> -->

								<!-- sorting sidebar ends -->
								<!-- <p>
					<span class="gamma widget-title">Filter by price</span>
				<div class="price_slider_amount">
					<input id="amount" type="text" placeholder="Min price" data-min="6" value="33" name="min_price"
						style="display: none;">
					<button class="button" type="submit">Filter</button>
				</div>
				<div id="slider-range" class="price_slider"></div>
			</div> -->
								<ul class="product-categories">
									<li class="product_cat">
										<span>Select Brand</span>
										<ul>
											<li class="cat-item">
												<a href="{{ request.path }}">
													<span class="child-indicator">
														<i class="fa fa-angle-right"></i> </span><b>All Brand</b>
												</a>
											</li>
											{% for b in brands %}
											<li class="cat-item">
												<!-- <a href="{{ request.path }}?brand={{b.slug}}"> -->
												<span class="child-indicator mr-2">
													<input type="checkbox" data-filter="brand-select" value="{{ b.id }}"
														id="brand" class="filter-checkbox">
												</span><b>{{ b.brand_name }}</b>
												<!-- </a> -->
											</li>
											{% endfor %}
										</ul>
									</li>
								</ul>
							</div>
							<!-- {#              <div#}
{#                id="techmarket_products_filter-3"#}
{#                class="widget widget_techmarket_products_filter"#}
{#              >#}
{#                <span class="gamma widget-title">Filters</span>#}
{#                <div#}
{#                  class="widget woocommerce widget_price_filter"#}
{#                  id="woocommerce_price_filter-2"#}
{#                >#}
{#                  <p>#}
{#                    <span class="gamma widget-title">Filter by price</span>#}
{#                  </p>#}
{##}
{#                  <div class="price_slider_amount">#}
{#                    <input#}
{#                      id="amount"#}
{#                      type="text"#}
{#                      placeholder="Min price"#}
{#                      data-min="6"#}
{#                      value="33"#}
{#                      name="min_price"#}
{#                      style="display: none"#}
{#                    />#}
{#                    <button class="button" type="submit">Filter</button>#}
{#                  </div>#}
{#                  <div id="slider-range" class="price_slider"></div>#}
{#                </div>#}
{#                <div#}
{#                  class="widget woocommerce widget_layered_nav maxlist-more"#}
{#                  id="woocommerce_layered_nav-2"#}
{#                >#}
{#                  <span class="gamma widget-title">Brands</span>#}
{#                  <ul>#}
{#                    <li class="wc-layered-nav-term">#}
{#                      <a href="#">apple</a>#}
{#                      <span class="count">(2)</span>#}
{#                    </li>#}
{#                    <li class="wc-layered-nav-term">#}
{#                      <a href="#">bosch</a>#}
{#                      <span class="count">(1)</span>#}
{#                    </li>#}
{#                    <li class="wc-layered-nav-term">#}
{#                      <a href="#">cannon</a>#}
{#                      <span class="count">(1)</span>#}
{#                    </li>#}
{#                    <li class="wc-layered-nav-term">#}
{#                      <a href="#">connect</a>#}
{#                      <span class="count">(1)</span>#}
{#                    </li>#}
{#                    <li class="wc-layered-nav-term">#}
{#                      <a href="#">galaxy</a>#}
{#                      <span class="count">(3)</span>#}
{#                    </li>#}
{#                    <li class="wc-layered-nav-term">#}
{#                      <a href="#">gopro</a>#}
{#                      <span class="count">(1)</span>#}
{#                    </li>#}
{#                    <li class="wc-layered-nav-term">#}
{#                      <a href="#">kinova</a>#}
{#                      <span class="count">(1)</span>#}
{#                    </li>#}
{#                    <li class="wc-layered-nav-term">#}
{#                      <a href="#">samsung</a>#}
{#                      <span class="count">(1)</span>#}
{#                    </li>#}
{#                  </ul>#}
{#                </div>#}-->
							<!-- {#                .woocommerce widget_layered_nav#} -->
							<!-- {#                <div#}
{#                  class="widget woocommerce widget_layered_nav maxlist-more"#}
{#                  id="woocommerce_layered_nav-3"#}
{#                >#}
{#                  <span class="gamma widget-title">Color</span>#}
{#                  <ul>#}
{#                    <li class="wc-layered-nav-term">#}
{#                      <a href="#">Black</a>#}
{#                      <span class="count">(4)</span>#}
{#                    </li>#}
{#                    <li class="wc-layered-nav-term">#}
{#                      <a href="#">Blue</a>#}
{#                      <span class="count">(4)</span>#}
{#                    </li>#}
{#                    <li class="wc-layered-nav-term">#}
{#                      <a href="#">Green</a>#}
{#                      <span class="count">(5)</span>#}
{#                    </li>#}
{#                    <li class="wc-layered-nav-term">#}
{#                      <a href="#">Orange</a>#}
{#                      <span class="count">(5)</span>#}
{#                    </li>#}
{#                    <li class="wc-layered-nav-term">#}
{#                      <a href="#">Red</a>#}
{#                      <span class="count">(4)</span>#}
{#                    </li>#}
{#                    <li class="wc-layered-nav-term">#}
{#                      <a href="#">Yellow</a>#}
{#                      <span class="count">(5)</span>#}
{#                    </li>#}
{#                    <li class="wc-layered-nav-term">#}
{#                      <a href="#">Green</a>#}
{#                      <span class="count">(5)</span>#}
{#                    </li>#}
{#                    <li class="wc-layered-nav-term">#}
{#                      <a href="#">Orange</a>#}
{#                      <span class="count">(5)</span>#}
{#                    </li>#}
{#                    <li class="wc-layered-nav-term">#}
{#                      <a href="#">Red</a>#}
{#                      <span class="count">(4)</span>#}
{#                    </li>#}
{#                    <li class="wc-layered-nav-term">#}
{#                      <a href="#">Yellow</a>#}
{#                      <span class="count">(5)</span>#}
{#                    </li>#}
{#                  </ul>#}
{#                </div>#}-->
							<!-- {#                .woocommerce widget_layered_nav#} -->
							<!-- {#              </div>#}
{#              <div class="widget widget_techmarket_products_carousel_widget">#}
{#                <section#}
{#                  id="single-sidebar-carousel"#}
{#                  class="section-products-carousel"#}
{#                >#}
{#                  <header class="section-header">#}
{#                    <h2 class="section-title">Latest Products</h2>#}
{#                    <nav class="custom-slick-nav"></nav>#}
{#                  </header>#} -->
							<!-- {#                  .section-header#} -->
							<!-- {#                  <div#}
{#                    class="products-carousel"#}
{#                    data-ride="tm-slick-carousel"#}
{#                    data-wrap=".products"#}
{#                    data-slick='{"infinite":false,"slidesToShow":1,"slidesToScroll":1,"rows":2,"slidesPerRow":1,"dots":false,"arrows":true,"prevArrow":"&lt;a href=\"#\"&gt;&lt;i class=\"tm tm-arrow-left\"&gt;&lt;\/i&gt;&lt;\/a&gt;","nextArrow":"&lt;a href=\"#\"&gt;&lt;i class=\"tm tm-arrow-right\"&gt;&lt;\/i&gt;&lt;\/a&gt;","appendArrows":"#single-sidebar-carousel .custom-slick-nav"}'#}
{#                  >#}
{#                    <div class="container-fluid">#}
{#                      <div class="woocommerce columns-1">#}
{#                        <div class="products">#}
{#                          <div class="landscape-product-widget product">#}
{#                            <a#}
{#                              class="woocommerce-LoopProduct-link"#}
{#                              href="single-product-fullwidth.html"#}
{#                            >#}
{#                              <div class="media">#}
{#                                <img#}
{#                                  class="wp-post-image"#}
{#                                  src="assets/img/solar//solar-1.jpg"#}
{#                                  alt=""#}
{#                                />#}
{#                                <div class="media-body">#}
{#                                  <span class="price">#}
{#                                    <ins>#}
{#                                      <span class="amount"> 5099</span>#}
{#                                    </ins>#}
{#                                    <del>#}
{#                                      <span class="amount">2699</span>#}
{#                                    </del>#}
{#                                  </span>#} -->
							<!-- {#                                  .price#} -->
							<!-- {#                                  <h2 class="woocommerce-loop-product__title">#}
{#                                    Portable Triple#}
{#                                  </h2>#}
{#                                  <div class="techmarket-product-rating">#}
{#                                    <div#}
{#                                      title="Rated 0 out of 5"#}
{#                                      class="star-rating"#}
{#                                    >#}
{#                                      <span style="width: 0%">#}
{#                                        <strong class="rating">0</strong> out of#}
{#                                        5</span#}
{#                                      >#}
{#                                    </div>#}
{#                                    <span class="review-count">(0)</span>#}
{#                                  </div>#} -->
							<!-- {#                                  .techmarket-product-rating#} -->
							<!-- {#                                </div>#} -->
							<!-- {#                                .media-body#} -->
							<!-- {#                              </div>#} -->
							<!-- {#                              .media#} -->
							<!-- {#                            </a>#} -->
							<!-- {#                            .woocommerce-LoopProduct-link#} -->
							<!-- {#                          </div>#} -->
							<!-- {#                          <div class="landscape-product-widget product">#}
{#                            <a#}
{#                              class="woocommerce-LoopProduct-link"#}
{#                              href="single-product-fullwidth.html"#}
{#                            >#}
{#                              <div class="media">#}
{#                                <img#}
{#                                  class="wp-post-image"#}
{#                                  src="assets/img/solar/solar-10.jpg"#}
{#                                  alt=""#}
{#                                />#}
{#                                <div class="media-body">#}
{#                                  <span class="price">#}
{#                                    <ins>#}
{#                                      <span class="amount"> 5099</span>#}
{#                                    </ins>#}
{#                                    <del>#}
{#                                      <span class="amount">2699</span>#}
{#                                    </del>#}
{#                                  </span>#}-->
							<!-- {#                                  .price#} -->
							<!-- {#                                  <h2 class="woocommerce-loop-product__title">#}
{#                                    Garden Light#}
{#                                  </h2>#}
{#                                  <div class="techmarket-product-rating">#}
{#                                    <div#}
{#                                      title="Rated 0 out of 5"#}
{#                                      class="star-rating"#}
{#                                    >#}
{#                                      <span style="width: 0%">#}
{#                                        <strong class="rating">0</strong> out of#}
{#                                        5</span#}
{#                                      >#}
{#                                    </div>#}
{#                                    <span class="review-count">(0)</span>#}
{#                                  </div>#} -->
							<!-- {#                                  .techmarket-product-rating#} -->
							<!-- {#                                </div>#} -->
							<!-- {#                                .media-body#} -->
							<!-- {#                              </div>#} -->
							<!-- {#                              .media#} -->
							<!-- {#                            </a>#} -->
							<!-- {#                            .woocommerce-LoopProduct-link#} -->
							<!-- {#                          </div>#} -->
							<!-- {#                          <div class="landscape-product-widget product">#}
{#                            <a#}
{#                              class="woocommerce-LoopProduct-link"#}
{#                              href="single-product-fullwidth.html"#}
{#                            >#}
{#                              <div class="media">#}
{#                                <img#}
{#                                  class="wp-post-image"#}
{#                                  src="assets/img/solar/solar-2.jpg"#}
{#                                  alt=""#}
{#                                />#}
{#                                <div class="media-body">#}
{#                                  <span class="price">#}
{#                                    <ins>#}
{#                                      <span class="amount"> 5099</span>#}
{#                                    </ins>#}
{#                                    <del>#}
{#                                      <span class="amount">2899</span>#}
{#                                    </del>#}
{#                                  </span>#} -->
							<!-- {#                                  .price#} -->
							<!-- {#                                  <h2 class="woocommerce-loop-product__title">#}
{#                                    Emergency Light#}
{#                                  </h2>#}
{#                                  <div class="techmarket-product-rating">#}
{#                                    <div#}
{#                                      title="Rated 0 out of 5"#}
{#                                      class="star-rating"#}
{#                                    >#}
{#                                      <span style="width: 0%">#}
{#                                        <strong class="rating">0</strong> out of#}
{#                                        5</span#}
{#                                      >#}
{#                                    </div>#}
{#                                    <span class="review-count">(0)</span>#}
{#                                  </div>#} -->
							<!-- {#                                  .techmarket-product-rating#} -->
							<!-- {#                                </div>#} -->
							<!-- {#                                .media-body#} -->
							<!-- {#                              </div>#} -->
							<!-- {#                              .media#} -->
							<!-- {#                            </a>#} -->
							<!-- {#                            .woocommerce-LoopProduct-link#} -->
							<!-- {#                          </div>#}
{#                          <div class="landscape-product-widget product">#}
{#                            <a#}
{#                              class="woocommerce-LoopProduct-link"#}
{#                              href="single-product-fullwidth.html"#}
{#                            >#}
{#                              <div class="media">#}
{#                                <img#}
{#                                  class="wp-post-image"#}
{#                                  src="assets/img/solar/solar-4.jpg"#}
{#                                  alt=""#}
{#                                />#}
{#                                <div class="media-body">#}
{#                                  <span class="price">#}
{#                                    <ins>#}
{#                                      <span class="amount"> 5099</span>#}
{#                                    </ins>#}
{#                                    <del>#}
{#                                      <span class="amount">2699</span>#}
{#                                    </del>#}
{#                                  </span>#} -->
							<!-- {#                                  .price#} -->
							<!-- {#                                  <h2 class="woocommerce-loop-product__title">#}
{#                                    Poly Plate#}
{#                                  </h2>#}
{#                                  <div class="techmarket-product-rating">#}
{#                                    <div#}
{#                                      title="Rated 0 out of 5"#}
{#                                      class="star-rating"#}
{#                                    >#}
{#                                      <span style="width: 0%">#}
{#                                        <strong class="rating">0</strong> out of#}
{#                                        5</span#}
{#                                      >#}
{#                                    </div>#}
{#                                    <span class="review-count">(0)</span>#}
{#                                  </div>#} -->
							<!-- {#                                  .techmarket-product-rating#} -->
							<!-- {#                                </div>#} -->
							<!-- {#                                .media-body#} -->
							<!-- {#                              </div>#} -->
							<!-- {#                              .media#} -->
							<!-- {#                            </a>#} -->
							<!-- {#                            .woocommerce-LoopProduct-link#} -->
							<!-- {#                          </div>#}
{#                        </div>#} -->
							<!-- {#                        .products#} -->
							<!-- {#                      </div>#} -->
							<!-- {#                      .woocommerce#} -->
							<!-- {#                    </div>#} -->
							<!-- {#                    .container-fluid#} -->
							<!-- {#                  </div>#} -->
							<!-- {#                  .products-carousel#} -->
							<!-- {#                </section>#} -->
							<!-- {#                .section-products-carousel#} -->
							<!-- {#              </div>#} -->
							<!-- .widget_techmarket_products_carousel_widget -->
						</div>
						<!-- #secondary -->
					</div>
				</div>
			</div>
			<!-- main content end -->
			<!-- #content -->
			<!-- .site-footer -->

		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<input type="hidden" id="myVar" name="variable" value="{{ cat_slug }}">
		<p type="hidden" hidden id="page_no">1</p>


	</div>

</body>
		<link rel="stylesheet" href="{% static 'assets/css/pagination.css' %}">
<script type="text/javascript" src="{% static 'assets/js/bootstrap.js' %}"></script>
<script>
/*
this javascript is only to change the "actpage" attribut on the .cdp div
*/

window.onload = function(){
  var paginationPage = parseInt($('.cdp').attr('actpage'), 10);
  $('.cdp_i').on('click', function(){
    var go = $(this).attr('href').replace('#!', '');
    if (go === '+1') {
      paginationPage++;
    } else if (go === '-1') {
      paginationPage--;
    }else{
      paginationPage = parseInt(go, 10);
    }
    $('.cdp').attr('actpage', paginationPage);
  });
};

	var category_slug;
	// let min, max;
	let Brand_filter = [];
	var brand_filter_string;
	$(document).ready(function () {
		jQuery.noConflict();

		// {#e.preventDefaul; t();# }
		// {#var p_id = this.name;# }
		//*************price range slider related js start**************
		// 	$("#slider-range").slider({
		// 	range: true,
		// 	min: 0,
		// 	max: 50000,
		// 	values: [0, 50000],
		// 	slide: function (event, ui) {
		// 		$("#min-amount").val(ui.values[0]);
		// 		$("#max-amount").val(ui.values[1]);
		// 	}
		// });

		// $("#amount").val(min + " - " + max);
		// var surprise = document.getElementById("amount").value;
		// console.log(surprise)
		// console.log("Min: "+min+", Max: "+max)
		//*************price range slider related js ends**************
		category_slug = document.getElementById("myVar").value;
		console.log(category_slug)
		loadData()
	});
	$("#sort_order").change(function () {
		jQuery.noConflict();
		loadData()
	})
	$(".filter-checkbox").on('click', function () {
		jQuery.noConflict();
		i = 0
		$(".filter-checkbox").each(function (index, ele) {
			Brand_filter[i] = Array.from(document.querySelectorAll('input[data-filter="brand-select"]:checked')).map(function (el) {
				return el.value;
				i++;
			})
		})

		var sort = $('#sort_order').val()
		var page_no = $('#page_no').text()

		if (Brand_filter == null || Brand_filter == '') {
			Brand_filter.length = 0;
			$.ajax({
				type: 'get',
				url: '/api/v1/inventory/filter-categorized-product/' + category_slug + '/?sort_order=' + sort + '&page_no=' + page_no,
				success: function (data) {
					render_products(data, false)
				}
			});
		}
		else {
			var join_char = "_"
			brand_filter_string = Brand_filter.toString();
			brand_filter_string = brand_filter_string.split(",").join("_");
			console.log(Brand_filter)
			console.log(brand_filter_string)
			$.ajax({
				type: 'get',
				url: '/api/v1/inventory/filter-categorized-product/' + category_slug + '/?sort_order=' + sort + '&brand=' + brand_filter_string + '&page_no=' + page_no,
				success: function (data) {
					console.log(data)
					render_products(data, false)
				}

			});
		}

	})
	// $("#category_filter").change(function () {
	// 	loadData()
	// });
	// function getInputValue(){
	// 	min = $('#min-amount').val();
	// 	max = $('#max-amount').val();
	// }

	function loadData() {
		jQuery.noConflict();
		// var category = $('#category_filter').val()
		var sort = $('#sort_order').val()
		// var term = $('#search').val()
		var page_no = $('#page_no').text()
		// console.log("min price: " + min + ", max price: " + max)
		$.ajax({
			type: 'get',
			// { #url: '/api/v1/inventory/products/?category=' + category + '&sort_order=' + sort, # }
			// { #dataType: 'json', # }
			// brand  '&brand=' + brand_filter_string +
			url: '/api/v1/inventory/filter-categorized-product/' + category_slug + '/?sort_order=' + sort + '&page_no=' + page_no,
			success: function (data) {
				// console.log(data)
				render_products(data, false)
			}
		})
	}

	function render_products(data, is_page_load) {
		jQuery.noConflict();
		if (data.length > 0) {
			numb_pages = data[0].number_of_pages
			current_page = data[0].page_number
		}
		else {
			numb_pages = 0
			current_page = 0
		}
		try {
			var element = '';
			var i = 0;
			var image = ''
			$('#product').html('');
			for (i = 0; i < data.length; i++) {
				if (!is_page_load) {
					image = data[i]['image']
					// console.log(image)
					var price = data[i]['price']
					var discount_price = data[i]['discounted_price']
					var discount = price - discount_price
					// console.log(price)
					// console.log(discount_price)
				}
				else {
					var img_url = data[i].product_images[0]['image']
					image = img_url
					var img_thumb = ''
					try {
						var idx = img_url.lastIndexOf(".");
						if (idx > -1)
							img_thumb = img_url.substr(0, idx) + ".thumbnail" + img_url.substr(idx);
						image = img_thumb
					}
					catch (e) {

					}
					console.log(image)
				}
				element += `<div class="product mb-5">
								<div class="yith-wcwl-add-to-wishlist">
									<a href="javascript:void(0)" rel="nofollow" class="add_to_wishlist" data-action="ADD_TO_WISHLIST">
										Add to Wishlist
									</a>
								</div>
								<a href="/product/${data[i]['id']}" class="woocommerce-LoopProduct-link">`
				if (discount_price < price) {
					element += `
										<span class="onsale">
		                        			<span class="woocommerce-Price-amount amount">
	    	                      				<span class="woocommerce-Price-currencySymbol">৳</span>
												${discount.toFixed(1)} OFF
											</span>
	                	      			</span>`
				}
				element += `
									  <img src="${image}" width="224" height="197" class="wp-post-image" alt=""/>
									<span class="price">
	                        			<ins>
		                          			<span class="amount">৳ ${discount_price}</span>
		                        		</ins>`
				if (discount_price < price) {
					element += `<del>
											<span class="amount">${price}</span>
										</del>`
				}
				element += `
	                			        <span class="amount"> </span>
	                      			</span>
									<!--price -->
									<h2 class="woocommerce-loop-product__title">
										${data[i]['name']}
									</h2>
								</a>
								<div class="hover-area cartable">
									<p hidden class="product__image_src">${image}</p>
									<p hidden class="product__name">${data[i]['id']}</p>
									<p hidden class="product__title">${data[i]['name']}</p>
									<p hidden class="product__price">${discount_price}</p>
									<a class="button quick-btn" name="${data[i]['id']}">Quick View</a>
									<a class="button" name="btn${data[i]['id']}"
										data-action="ADD_TO_CART">Add to cart
									</a>
								</div>
							</div>`
			}
			var products = $('#product');
			products.html(element);
			var pg_elem = ''
			if (current_page == 1) {
				console.log("if condition of current page")
				console.log("total page: " + numb_pages)
				console.log("current page: " + current_page)
				pg_elem = pg_elem + `<a disabled href="#!-1" class="cdp_i">prev</a>`
			} else {
				pg_elem = pg_elem + `<a href="#!-1" onclick="change_page(${current_page},2)" class="cdp_i">prev</a>`
			}
			for (i = 1; i <= numb_pages; i++) {
				if (i == current_page) {
					pg_elem = pg_elem + `<a href="#!${i}"  onclick="change_page(${i},0)" class="cdp_i">${i}</a>`
						$('.cdp').attr('actpage', i)
				} else {
					pg_elem = pg_elem + `<a href="#!${i}" onclick="change_page(${i},0)" class="cdp_i">${i}</a>`
				}
			}
			if (current_page == numb_pages) {
				pg_elem = pg_elem + `<a href="#!+1" disabled class="cdp_i">next</a>`
			} else {
				pg_elem = pg_elem + `<a href="#!+1" onclick="change_page(${current_page},1)" class="cdp_i">next</a>`
			}








			/*
			if (current_page == 1) {
				console.log("if condition of current page")
				console.log("total page: " + numb_pages)
				console.log("current page: " + current_page)
				pg_elem = pg_elem + `<li class="list-group-item"><a disabled href="javascript:void(0)">
					<i class="fa fa-angle-double-left text-info"></i>
					</a></li>`
			} else {
				pg_elem = pg_elem + `<li class="list-group-item"><a onclick="change_page(${current_page},2)" href="javascript:void(0)">previous</a></li>`
			}
			for (i = 1; i <= numb_pages; i++) {
				if (i == current_page) {
					pg_elem = pg_elem + `
                            <li class="list-group-item active"><a onclick="change_page(${i},0)" href="javascript:void(0)">${i}</a></li>`
				} else {
					pg_elem = pg_elem + `
                            <li class="list-group-item"><a onclick="change_page(${i},0)" href="javascript:void(0)">${i}</a></li>`
				}
			}
			if (current_page == numb_pages) {
				pg_elem = pg_elem + `<li class="list-group-item">
                                <a disabled="" href="javascript:void(0)"><i class="fa fa-angle-double-right text-info"></i></a> </li>`
			} else {
				pg_elem = pg_elem + `<li class="page-item">
                                <a class="page-link" onclick="change_page(${current_page},1)" href="javascript:void(0)">next</a></li><br>`
			}
			 */


			// {#$('.paginator').html('');# }
			var ul = $('#_pagination');
			ul.html('');
			ul.html(pg_elem);
		} catch (e) {
			console.log(e)
		}
		var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "{% static 'assets/js/cart_js.js' %}";
    document.getElementsByTagName("head")[0].appendChild(script);
    var script1 = document.createElement("script");
    script1.type = "text/javascript";
    script1.src = "{% static 'assets/js/wishlist.js' %}";
    document.getElementsByTagName("head")[0].appendChild(script1);
	}

</script>



<script>
	function change_page(next, is_n_or_p) {
		jQuery.noConflict();
		$('#page_no').text('')
		var page = 1
		if (is_n_or_p == 0) {
			page = parseInt(next)
		}
		else if (is_n_or_p == 1) {
			page = parseInt(next) + 1
		}
		else if (is_n_or_p == 2) {
			page = parseInt(next) - 1
		}
		else {
			page = parseInt(next)
		}
		$('#page_no').text(page)
		loadData()
			$('html,body').animate({ scrollTop: $("#product").offset().top }, 'slow');
	}

</script>

{% endblock content %}