{% extends 'master.html' %}
{% load static %}
{% block content %}
  <body class="page-template-default page woocommerce-wishlist can-uppercase">
	  <script src="https://ajax.googleapis.com//ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script type="text/javascript" src="{% static 'assets/js/bootstrap.js' %}"></script>
				<script>
            $(document).ready(function () {
                jQuery.noConflict();

                'use strict';

            });
				</script>
	  <style>
       .remove_from_wishlist:before {
		       color: white !important;
		       font-weight: bold;
		       padding: 2px;
       }
    </style>
		<script type="text/javascript" src="{% static 'assets/js/wishlist.js' %}"></script>
    <div id="page" class="hfeed site">
		<p hidden class="hidden" id="is_wishlist_page"></p>
      <!-- .header-v1 -->
      <!-- ============================================================= Header End ============================================================= -->
      <div id="content" class="site-content">
        <div class="col-full">
          <div class="row">
            <nav class="woocommerce-breadcrumb">
              <a href="{% url 'home' %}">Home</a>
              <span class="delimiter">
                <i class="tm tm-breadcrumbs-arrow-right"></i>
              </span>
              Wishlist
            </nav>
            <!-- .woocommerce-breadcrumb -->
            <div id="primary" class="content-area">
              <main id="main" class="site-main">
                <div class="type-page hentry">
                  <header class="entry-header">
                    <div class="page-header-caption">
                      <h1 class="entry-title">Wishlist</h1>
                    </div>
                  </header>
                  <!-- .entry-header -->
                  <div class="entry-content">
                    <form class="woocommerce" method="post" action="#">
                      <table class="shop_table cart wishlist_table" id="wishlist_table" style="width: max-content !important;margin: auto">
                        <thead>
                          <tr>
                            <th class=""></th>
                            <th class="product-thumbnail"></th>
                            <th class="product-name">
                              <span class="nobr">Product Name</span>
                            </th>
                            <th class="product-price">
                              <span class="nobr"> Unit Price </span>
                            </th>
{#                            <th class="product-stock-status">#}
{#                              <span class="nobr"> Stock Status </span>#}
{#                            </th>#}
                            <th class="product-add-to-cart"></th>
                          </tr>
                        </thead>
                        <tbody>

                        </tbody>
                        <tfoot>
{#                          <tr>#}
{#                            <td colspan="6">#}
{#                              <div class="yith-wcwl-share">#}
{#                                <h4 class="yith-wcwl-share-title">Share on:</h4>#}
{#                                <ul>#}
{#                                  <li#}
{#                                    style="#}
{#                                      list-style-type: none;#}
{#                                      display: inline-block;#}
{#                                    "#}
{#                                  >#}
{#                                    <a#}
{#                                      title="Facebook"#}
{#                                      href="https://www.facebook.com/sharer.php?s=100&amp;p%5Btitle%5D=My+wishlist+on+Tech+Market&amp;p%5Burl%5D=http%3A%2F%2Flocalhost%2F%7Efarook%2Ftechmarket%2Fhome-v1.html%2Fwishlist%2Fview%2FD5ON1PW1PYO1%2F"#}
{#                                      class="facebook"#}
{#                                      target="_blank"#}
{#                                    ></a>#}
{#                                  </li>#}
{#                                  <li#}
{#                                    style="#}
{#                                      list-style-type: none;#}
{#                                      display: inline-block;#}
{#                                    "#}
{#                                  >#}
{#                                    <a#}
{#                                      title="Twitter"#}
{#                                      href="https://twitter.com/share?url=http%3A%2F%2Flocalhost%2F%7Efarook%2Ftechmarket%2Fhome-v1.html%2Fwishlist%2Fview%2FD5ON1PW1PYO1%2F&amp;text="#}
{#                                      class="twitter"#}
{#                                      target="_blank"#}
{#                                    ></a>#}
{#                                  </li>#}
{#                                  <li#}
{#                                    style="#}
{#                                      list-style-type: none;#}
{#                                      display: inline-block;#}
{#                                    "#}
{#                                  >#}
{#                                    <a#}
{#                                      onclick="window.open(this.href); return false;"#}
{#                                      title="Pinterest"#}
{#                                      href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Flocalhost%2F%7Efarook%2Ftechmarket%2Fhome-v1.html%2Fwishlist%2Fview%2FD5ON1PW1PYO1%2F&amp;description=&amp;media="#}
{#                                      class="pinterest"#}
{#                                      target="_blank"#}
{#                                    ></a>#}
{#                                  </li>#}
{#                                  <li#}
{#                                    style="#}
{#                                      list-style-type: none;#}
{#                                      display: inline-block;#}
{#                                    "#}
{#                                  >#}
{#                                    <a#}
{#                                      onclick='javascript:window.open(this.href, "", "menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600");return false;'#}
{#                                      title="Google+"#}
{#                                      href="https://plus.google.com/share?url=http%3A%2F%2Flocalhost%2F%7Efarook%2Ftechmarket%2Fhome-v1.html%2Fwishlist%2Fview%2FD5ON1PW1PYO1%2F&amp;title=My+wishlist+on+Tech+Market"#}
{#                                      class="googleplus"#}
{#                                      target="_blank"#}
{#                                    ></a>#}
{#                                  </li>#}
{#                                  <li#}
{#                                    style="#}
{#                                      list-style-type: none;#}
{#                                      display: inline-block;#}
{#                                    "#}
{#                                  >#}
{#                                    <a#}
{#                                      title="Email"#}
{#                                      href="mailto:?subject=I+wanted+you+to+see+this+site&amp;body=http%3A%2F%2Flocalhost%2F%7Efarook%2Ftechmarket%2Fhome-v1.html%2Fwishlist%2Fview%2FD5ON1PW1PYO1%2F&amp;title=My+wishlist+on+Tech+Market"#}
{#                                      class="email"#}
{#                                    ></a>#}
{#                                  </li>#}
{#                                </ul>#}
{#                              </div>#}
{#                            </td>#}
{#                          </tr>#}
                        </tfoot>
                      </table>
                      <!-- .wishlist_table -->
                    </form>
                    <!-- .woocommerce -->
                  </div>
                  <!-- .entry-content -->
                </div>
                <!-- .hentry -->
              </main>
              <!-- #main -->
            </div>
            <!-- #primary -->
          </div>
          <!-- .row -->
        </div>
        <!-- .col-full -->
      </div>
      <!-- #content -->
 
      <!-- .site-footer -->
    </div>

    
  </body>
{% endblock %}