{% extends 'vendor/master.html' %}
{% load static %}
{% block content %}

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->

                <!-- end page title -->

                <form method="post" id="warranty_form" action="/product-warranty/"
                      enctype="multipart/form-data">{% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <div class="card-box">
                                <h5 class="text-uppercase bg-light p-2 mt-0 mb-3">Add/Edit Warranty</h5>

                                <div class="form-group mb-3">
                                    <label for="product-warranty-type">Type <span
                                            class="text-danger">*</span></label>
                                    <select class="form-control select2" name="type" id="product-warranty-type">
                                        <option disabled selected >Select</option>
                                        <option value="Replacement">Replacement</option>
                                        <option value="Service">Service</option>
                                        <option value="Other">Other</option>

                                    </select>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="product-warranty-interval">Interval <span
                                            class="text-danger">*</span></label>
                                    <select class="form-control select2" name="interval" id="product-warranty-interval">
                                        <option disabled selected>Select</option>
                                        <option value="Day">Day</option>
                                        <option value="Month">Month</option>
                                        <option value="Year">Year</option>

                                    </select>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="product-warranty-limit"> Limit <span
                                            class="text-danger">*</span></label>
                                    <input type="number" class="form-control" id="product-warranty-limit" name="limit">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="product-warranty-condition"> Condition <span
                                            class="text-danger">*</span></label>
                                    <textarea class="form-control" id="product-warranty-condition" name="conditions"
                                              rows="5"
                                              placeholder="Please enter condition"></textarea>
                                </div>
                            </div> <!-- end card-box -->
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-12">
                            <div class="text-center mb-3">
                                <button type="button" class="btn w-sm btn-light waves-effect">Cancel</button>
                                <button type="button" id="submit_btn"
                                        class="btn w-sm btn-success waves-effect waves-light submit_btn">Save
                                </button>
                            </div>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->

                </form>
                <!-- file preview template -->
                <div class="d-none" id="uploadPreviewTemplate">
                    <div class="card mt-1 mb-0 shadow-none border">
                        <div class="p-2">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <img data-dz-thumbnail src="#" class="avatar-sm rounded bg-light" alt="">
                                </div>
                                <div class="col pl-0">
                                    <a href="javascript:void(0);" class="text-muted font-weight-bold" data-dz-name></a>
                                    <p class="mb-0" data-dz-size></p>
                                </div>
                                <div class="col-auto">
                                    <!-- Button -->
                                    <a href="#" class="btn btn-link btn-lg text-muted" data-dz-remove>
                                        <i class="dripicons-cross"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div> <!-- container -->

        </div> <!-- content -->
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).on('click', '.submit_btn', function (e) {

            //prevent Default functionality
            {#e.preventDefault();#}

            //get the action-url of the form
            {#var actionurl = e.currentTarget.action;#}
            {#console.log(actionurl);#}
            var form = document.getElementById('warranty_form');
            var formData = new FormData(form);
            console.log(formData);
            //do your own request an handle the results
            $.ajax({
                url: '/api/v1/inventory/product-warranty/',
                type: 'post',
                data: formData,
                username: 'saleh',
                password: '1234',
                success: function (data) {
                    console.log("success");
                    console.log(data);
                    window.location = '/vendor/e-commerce-all-warranty/';
                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                },
                cache: false,
                contentType: false,
                processData: false
            });

        })
        ;

    </script>
{% endblock content %}
