{% extends 'superadmin/master.html' %}
{% load static %}
{% block content %}

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->

                <!-- end page title -->


                <!-- end row-->

                <!-- end row -->

                <div class="row">
                    <div class="col-xl-12">
                        <div class="card-box">
                            <h4 class="header-title mb-3">All Members</h4>

                            <div class="table-responsive">
                                <table class="table table-centered table-hover mb-0">
                                    <thead>
                                    <tr>
                                        <th class="border-top-0">Name</th>
                                        <th class="border-top-0">Total Transaction</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>
                                        <td>
                                            <img src="/static/vendor/images/users/user-3.jpg" alt="user-pic"
                                                 class="rounded-circle avatar-sm bx-shadow-lg">
                                            <span class="ml-2">Francisca S. Lobb</span>
                                        </td>
                                        <td>$1,250</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <img src="/static/vendor/images/users/user-4.jpg" alt="user-pic"
                                                 class="rounded-circle avatar-sm bx-shadow-lg">
                                            <span class="ml-2">Dolores J. Pooley</span>
                                        </td>
                                        <td>$2,005.89</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="/static/vendor/images/users/user-4.jpg" alt="user-pic"
                                                 class="rounded-circle avatar-sm bx-shadow-lg">
                                            <span class="ml-2">Dolores J. Pooley</span>
                                        </td>
                                        <td>$2,005.89</td>
                                    </tr>


                                    </tbody>
                                </table>
                            </div> <!-- end table-responsive -->

                        </div>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        2015 -
                        <script>document.write(new Date().getFullYear())</script> &copy; UBold theme by <a href="#">Coderthemes</a>
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-right footer-links d-none d-sm-block">
                            <a href="javascript:void(0);">About Us</a>
                            <a href="javascript:void(0);">Help</a>
                            <a href="javascript:void(0);">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

{% endblock content %}
 